 * {
    box-sizing: border-box;
    font-size: 0px; 
} 

.color-grid {
    display: inline-block;
    
  }
  
.color-cell {
  display: inline-block;
  border: 1px solid black; 
    width: 33%;
    height: 33%;
    background-color: #ff0000;
  }
  
