  * {
    box-sizing: border-box;
    font-size: 0px; 
} 


 .color-lightPink {
  display: inline-block;
  border: 50px solid #F5C6D6;
  background-color: #F5C6D6;
  margin: 2px;
    width: 100%;
    height: 50%;
    
    
  }

  .color-darkPink1 {
    display: inline-block;
    margin: 2px;
    border: 50px solid #EE2E84; 
    background-color: #EE2E84;
      width: 100%;
      height: 50%;
     
    }
  
  .color-darkPink2 {
    display: inline-block;
    border: 50px solid #EE2E84; 
    background-color: #EE2E84;
    margin: 2px;
      width: 100%;
      height: 50%;
  }

  .color-darkPink3 {
    display: inline-block;
    border: 50px solid #EE2E84; 
    background-color: #EE2E84;
    margin: 2px;
      width: 100%;
      height: 50%;
  }

  .color-darkPink4 {
    display: inline-block;
    margin: 2px;
    border: 50px solid #EE2E84; 
    background-color: #EE2E84;
      width: 100%;
      height: 50%;
  }

  .color-blue1 {
    display: inline-block;
    border: 50px solid #85CFD8; 
    background-color: #85CFD8;
      width: 100%;
      height: 50%;
      margin: 2px;

  }

  .color-blue2 {
    display: inline-block;
    border: 50px solid #85CFD8; 
    background-color: #85CFD8;
      width: 100%;
      height: 50%;
      margin: 2px;
  }

  .color-green {
    display: inline-block;
    border: 50px solid #8DC63F; 
    background-color: #8DC63F;
      width: 100%;
      height: 50%;
      margin: 2px;
  }
  
  .color-orange {
    display: inline-block;
    border: 50px solid #E76E34; 
    background-color: #E76E34;
      width: 100%;
      height: 50%;
      margin: 2px;

  }

  @media (min-width: 768px) { 

    * {
      box-sizing: border-box;
      font-size: 0px; 
  } 
  
  
   .color-lightPink {
    display: inline-block;
    border: 50px solid #F5C6D6;
    background-color: #F5C6D6;
    margin: 1px;
      width: 99.28%;
      height: 50%;
      
      
    }
  
    .color-darkPink1 {
      display: inline-block;
      margin: 1px;
      border: 50px solid #EE2E84; 
      background-color: #EE2E84;
        width: 25%;
        height: 50%;
       
      }
    
    .color-darkPink2 {
      display: inline-block;
      border: 50px solid #EE2E84; 
      background-color: #EE2E84;
      margin: 1px;
        width: 25%;
        height: 50%;
    }
  
    .color-darkPink3 {
      display: inline-block;
      border: 50px solid #EE2E84; 
      background-color: #EE2E84;
      margin: 1px;
        width: 25%;
        height: 50%;
    }
  
    .color-darkPink4 {
      display: inline-block;
      margin: 1px;
      border: 50px solid #EE2E84; 
      background-color: #EE2E84;
        width: 24%;
        height: 50%;
    }
  
    .color-blue1 {
      display: inline-block;
      border: 50px solid #85CFD8; 
      background-color: #85CFD8;
        width: 50%;
        height: 50%;
        margin: 2px;
  
    }
  
    .color-blue2 {
      display: inline-block;
      border: 50px solid #85CFD8; 
      background-color: #85CFD8;
        width: 49%;
        height: 50%;
        margin: 2px;
    }
  
    .color-green {
      display: inline-block;
      border: 50px solid #8DC63F; 
      background-color: #8DC63F;
        width: 75%;
        height: 50%;
        margin: 2px;
    }
    
    .color-orange {
      display: inline-block;
      border: 50px solid #E76E34; 
      background-color: #E76E34;
        width: 24%;
        height: 50%;
        margin: 2px;
  
    }

  }